In [1]:
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

In [3]:
load_dotenv()

data_dir = os.path.abspath(os.getenv('BITS_DATA_DIR_ML_ASSN1'))
DATASET_NAME = 'yeast.csv'

__location__ = os.path.realpath(data_dir)
for dirname, _, filenames in os.walk(__location__):
    for filename in filenames:
        if filename == DATASET_NAME:
            input_data = os.path.join(dirname, filename)
            break

try:
    assert input_data is not None
    print(f'Input data {DATASET_NAME} found.')
except:
    raise Exception(f'Input dataset {DATASET_NAME} not found.')

Input data yeast.csv found.

In [4]:
yeast = pd.read_csv(input_data)
yeast.head()

    mcg   gvh   alm   mit  erl  pox   vac   nuc name
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  MIT
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT