<b> Iterative Executions <b>

- while loop
- For loop

In [1]:
i = 0 #iteration variable

while i < 5:
    print(i) # while body stmt 1
    i = i + 1 # while body stmt 2

print('I am outside the while block')

0
1
2
3
4
I am outside the while block

In [2]:
mark_list = [10, 45, 23, 56, 72, 30]

total_marks = 0 #total marks obtained by all students 
student_count = len(mark_list) #number of students

print("Total number of students :", student_count)

index = 0 

while index < student_count:
    #do the summation
    total_marks = total_marks + mark_list[index]
    index = index + 1

print("Total marks: ", total_marks)

avg = total_marks/student_count

print("Average: ", avg)

Total number of students : 6
Total marks:  236
Average:  39.333333333333336

In [3]:
# break and continue

In [4]:
i = 0
while i < 10:
    i=i+1
    if i == 5:
        break
    print("i=", i)
print("I am outside!")

i= 1
i= 2
i= 3
i= 4
I am outside!

In [6]:
for ch in "Python":
    print(ch)

P
y
t
h
o
n

In [5]:
for ch in "Python":
    if ch == 'o':
        continue
    print(ch)

P
y
t
h
n

In [7]:
for ch in "Python":
    if ch == 'o':
        break
    print(ch)

P
y
t
h

In [8]:
# for loop - range(start,stop,step)

In [9]:
for i in range(3):
    print("i = ", i)

i =  0
i =  1
i =  2

In [10]:
for i in range(5,8):
    print("i = ", i)

i =  5
i =  6
i =  7

In [11]:
for i in range(5,10,2):
    print("i = ", i)

i =  5
i =  7
i =  9

In [12]:
list = [10,20, 34, 58, 91]

for i in list:
    print(i)

10
20
34
58
91

In [13]:
list = [10,'a', 34, True, 91]

for i in list:
    print(i)

10
a
34
True
91